.tabs {
  --tab-padding: 5px;
  display: flex;
  padding: var(--tab-padding);
  background: var(--color-bg-soft);
  border-top: 1px solid var(--color-primary);

  padding-bottom: max(
    env(safe-area-inset-bottom, var(--tab-padding)),
    var(--tab-padding)
  );
}

@media screen and (min-width: 768px) {
  .tabs {
    display: none;
  }
}
