.tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-evenly;
  padding: 10px 15px;
  padding-top: 0;
}

@media screen and (min-width: 768px) {
  .tabs {
    display: none;
  }
}
