.tab {
  background: transparent;
  color: var(--color-fg);
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  font-size: 0;
  padding-bottom: max(env(safe-area-inset-bottom, 15px), 15px);

  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: normal;

  span {
    position: relative;
    display: inline-block;
  }

  &:not(:last-child) {
    margin-inline-end: 10px;
  }

  svg {
    font-size: 1.5rem;
  }

  &.active,
  &:hover {
    color: var(--color-accent);
  }

  .title {
    font-size: 0.8rem;
    margin-top: 5px;
  }
}
