.hint {
  color: var(--color-fg-soft);
  text-align: center;
  font-size: 0.8rem;
  margin-block-start: 15px;
}

.empty {
  color: var(--color-fg-soft);
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    min-width: 100px;
  }
}

.clipboardToggle {
  padding-block-end: 10px;
  margin-block-end: 10px;
  border-block-end: 1px solid var(--color-primary);
}
