.clientName {
  display: flex;
  align-items: center;

  button {
    svg {
      font-size: 1.4rem;
    }

    margin-inline-start: 0.5em;
  }

  input {
    padding: 5px 10px;
  }

  .view,
  .edit {
    display: flex;
    align-items: center;
  }

  .view {
    cursor: pointer;
  }
}
