.you {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 15px;
  align-items: center;
}

.actions {
  font-size: 0;

  button {
    margin-inline-start: 0.5rem;
  }

  svg {
    font-size: 1.4rem;
  }
}
