.chat {
  display: flex;
  flex-direction: column;

  .channels {
    margin-top: -15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #35353b;

    .list {
      padding-top: 15px;
      display: inline-flex;
    }
  }

  .channel {
    width: 40px;
    height: 40px;
    cursor: pointer;

    margin-right: 10px;
    overflow: visible;

    &:after {
      display: none;
      content: '';
      position: absolute;
      bottom: 0;
      left: 5px;
      right: 5px;
      height: 5px;
      background: white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &.active {
      &:after {
        display: block;
      }
    }
  }

  .global {
    color: #ffffff;
    font-size: 20px;
    background: #161618;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
    text-shadow: none;

    svg {
      font-size: 20px;
    }
  }

  .empty {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    flex: 1;

    & > * {
      opacity: 0.7;
    }

    svg {
      height: 100px;
      width: 100px;
      margin-bottom: 20px;
    }
  }

  .items {
    margin-bottom: 10px;
    flex: 1;

    & > div:first-child {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: safe flex-end;

    li {
      display: block;
      text-align: left;
      padding: 15px 2px;
      margin: 0;
      position: relative;

      &:not(:first-child) {
        border-top: 1px solid #35353b;
      }

      &:last-child {
        padding-bottom: 5px;
      }
    }
  }

  form {
    display: flex;
    align-items: center;
    background: #35353b;
    border-radius: 5px;

    button {
      margin-right: 15px;
    }

    textarea {
      resize: none;
      flex: 1;
      margin-right: 10px;
      min-height: 40px;
      background: none;
      padding: 10px 15px;
      color: white;
      border: none;
      font-size: 0.8rem;

      &:focus {
        outline: none;
      }
    }
  }

  span {
    display: block;
    margin-bottom: 0;
  }

  .title {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  .chat {
    .items {
      min-height: 300px;
      height: 300px;
      max-height: 300px;
    }
  }
}
