.connect {
  text-align: center;

  .info {
    display: block;
  }

  & > *:not(:last-child) {
    margin-block-end: 20px;
  }

  .copy {
    background-color: #35353b;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 15px;

    .buttons {
      display: flex;
      align-items: center;
      margin-left: 10px;
    }

    pre {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      border-radius: 5px;
      user-select: text;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      flex: 1;

      &:not(:last-child) {
        margin-inline-end: 10px;
      }
    }
  }

  .qrcode {
    font-size: 0;

    svg {
      box-sizing: content-box;
      border: 10px solid white;
      border-radius: 5px;
    }
  }

  .other {
    margin-block-start: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .connect {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;

    & > div {
      margin: 0 !important;
    }

    .info,
    .share {
      display: flex;
      flex-direction: column;
    }

    .qrcode {
      grid-area: 1 / 1 / 3 / 2;
    }

    .info {
      justify-content: flex-end;
      grid-area: 1 / 2 / 2 / 2;
    }

    .share {
      justify-content: flex-start;
      grid-area: 2 / 2 / 3 / 2;
    }

    .other {
      margin-block-start: 0;
      grid-column: 1 / 3;
    }
  }
}
