.header {
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;

  padding-top: 10px;
  border-top: 1px solid #333;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  & > *:not(:last-child) {
    margin-right: 10px;
  }
}
