.header {
  text-align: left;
  margin-block-end: 10px;
  font-weight: bold;

  margin-block-start: 15px;
  padding-block-start: 10px;
  border-block-start: 1px solid var(--color-primary);
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  & > *:not(:last-child) {
    margin-inline-end: 10px;
  }
}
