.actions {
  font-size: 0;
  display: flex;
  align-items: center;

  button,
  a {
    margin-left: 0.5rem;
    font-size: 0;

    svg {
      font-size: 2rem;
    }

    &.positive {
      color: #3ea74e;
    }

    &.negative {
      color: #ff5656;
    }
  }
}
