.icon {
  position: relative;
  font-size: 0;
  background-color: var(--color-primary);
  padding: 10px 0;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  & > svg {
    width: auto;
    height: 35px;
  }

  & > img {
    width: 60px;
    height: 60px;
    margin: -10px 0;
    border-radius: 5px;
  }
}
