.home {
  margin-block-start: 15px;
  padding: 15px;
  padding-block-start: 0;
  overflow: auto;
}

.disconnected {
  margin: 15px;

  div > div {
    margin-block-start: 1rem;
  }

  span {
    font-weight: 600;
  }
}

@media screen and (min-width: 768px) {
  .home {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 50%;
  }
}

@media screen and (min-width: 1200px) {
  .home {
    grid-template-columns: 1fr 33.3%;
  }
}
