:root {
  --dark-gradient: linear-gradient(135deg, #00000000 0%, #00000044 100%);
  --color-accent: #ff6f06;
  --color-bg: #1b1b1d;
  --color-bg-soft: #252529;
  --color-primary: #35353b;
  --color-primary-soft: #575760;
  --color-fg-dark: #000000;
  --color-fg-soft: #aaaaaa;
  --color-fg: #ffffff;
  --green: #3ea74e;
  --green-soft: #3ea74ecc;
  --red: #ff5c5c;
  --red-soft: #ff5c5ccc;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
  line-height: 1.4;
  user-select: none;
}

body,
input,
button,
textarea,
a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  transition: 0.1s ease-in-out all;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  text-shadow: none;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  touch-action: pan-y pan-x;
}

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  touch-action: pan-y pan-x;
}

a {
  display: inline-block;
  color: var(--color-fg);
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

input {
  background: var(--color-primary);
  border: none;
  color: var(--color-fg);
  padding: 10px 20px;
  border-radius: 5px;
}

h1,
h2,
h3,
.subsection {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.75);
}

h1 {
  margin: 0;
}

h2,
h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

.subsection {
  background: var(--color-bg-soft);
  padding: 15px;
  position: relative;
  border-radius: 5px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

/* Animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.mobileHidden {
  display: none !important;
}

.mobileFlex {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#root {
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 55px;
}

@media screen and (min-width: 768px) {
  .mobileFlex {
    display: block;
    flex: unset;

    & > .subsection {
      margin-bottom: 15px;
    }
  }

  .desktopSubsection {
    & > .subsection {
      margin-bottom: 15px;
    }
  }

  .mobileHidden {
    display: block !important;
  }

  .desktopHidden {
    display: none !important;
  }
}
