:root {
  --dark-gradient: linear-gradient(135deg, #00000000 0%, #00000044 100%);
  --color-accent: #ff6f06;
  --color-bg-transparent: #1b1b1d00;
  --color-bg: #1b1b1d;
  --color-bg-soft: #252529;
  --color-primary: #35353b;
  --color-primary-soft: #575760;
  --color-fg-dark: #000000;
  --color-fg-soft: #aaaaaa;
  --color-fg: #ffffff;
  --green: #3ea74e;
  --green-soft: #3ea74ecc;
  --red: #ff5c5c;
  --red-soft: #ff5c5ccc;
  --error: #ff4a4a;
  --warning: #ffff5e;
  --ok: #5bff5b;
  --main-padding: 15px;
}

/* Firefox */
* {
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  background-clip: content-box;
  border: 5px solid transparent;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid transparent;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
  line-height: 1.4;
  user-select: none;

  overflow: hidden;
  position: fixed;
  inset: 0;
  height: 100%;
  touch-action: none;
}

body,
input,
button,
textarea,
a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  transition: 0.1s ease-in-out all;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  text-shadow: none;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  touch-action: none;
}

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

a {
  display: inline-block;
  color: var(--color-fg);
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

input {
  background: var(--color-primary);
  border: none;
  color: var(--color-fg);
  padding: 10px 20px;
  border-radius: 5px;
}

h1,
h2,
h3,
.subsection {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.75);
}

h1 {
  margin: 0;
}

h2,
h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

.subsection {
  background: var(--color-bg-soft);
  padding: 15px;
  position: relative;
  border-radius: 5px;

  &:not(:first-child) {
    margin-block-start: 15px;
  }
}

/* Animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.mobileHidden {
  display: none !important;
}

.mobileFlex {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 100%;
  min-height: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 100%;
  min-height: 100%;
  touch-action: none;
}

.error {
  color: var(--red);
  font-weight: 600;
  display: flex;
  align-items: center;

  svg {
    font-size: 1.4rem;
    min-width: 1.4rem;
    margin-inline-end: 5px;
  }
}

@media screen and (min-width: 768px) {
  .mobileFlex {
    display: block;
    flex: unset;

    & > .subsection {
      margin-block-end: 15px;
    }
  }

  .desktopSubsection {
    & > .subsection {
      margin-block-end: 15px;
    }
  }

  .mobileHidden {
    display: block !important;
  }

  .desktopHidden {
    display: none !important;
  }
}
