$accent-color: #fc03a1;
$border-radius: 10px;

body {
    background: #111;
    color: white;
    border-top: 5px solid $accent-color;
}

body, input, button, a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body, #root {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    display: inline-block;
    color: desaturate($accent-color, 15%);
    text-decoration: none;
    white-space: nowrap;

    &:hover {
        text-decoration: underline;
    }
}

.queue {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;

    li {
        animation: queue-animation 0.4s ease-in-out 0s 1;

        & > * {
            margin: 5px 0;
        }

        button, .button {
            margin: 5px;
        }
    }
}

@keyframes queue-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

input {
    background: rgba(90, 90, 90, 0.4);
    border: none;
    color: white;
    border-radius: $border-radius;
    padding: 10px 20px;
}

button, .button {
    display: inline-block;
    background: rgba(255, 255, 255, 0.75);
    transition: 0.1s ease-in-out all;
    border: none;
    color: black;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: $border-radius;
    cursor: pointer;
    font-size: 14px;

    &:hover {
        text-decoration: none;
        background: white;
    }
}

section {
    position: relative;
    padding: 20px;
    padding-bottom: 0;
}

.text {
    max-width: 500px;
    margin: 20px auto;

    ul {
        text-align: left;
    }
}

.status {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    backdrop-filter: blur(5px);

    & > div {
        padding: 20px;
        text-align: center;
        background: black;
    }
    
    &.error > div {
        background: darken($accent-color, 20%);
    }
}

h2, h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    color: $accent-color;
}

h2 {
    font-size: 20px;
    color: desaturate($accent-color, 5%);
}

progress {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: $border-radius;
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow: hidden;

    &::-moz-progress-bar {
        background-color: desaturate($accent-color, 50%);
    }
    
    &::-webkit-progress-value {
        background-color: desaturate($accent-color, 50%);
    }

    &::-webkit-progress-bar {
        background: rgba(255, 255, 255, 0.2);
        border-radius: $border-radius;
    }
}

h1, h2, h3 {
    margin: 0;
}

header {
    position: relative;

    .toggle {
        position: absolute;
        background: none;
        color: white;
        font-size: 32px;
        top: -12px;
        z-index: 500;
    }
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        font-weight: bold;
        font-size: 24px;
        padding-bottom: 20px;
        position: relative;
        z-index: 500;
    }

    ul {
        padding: 0 20px;
        margin: 0;
        list-style-type: none;
        transition: 0.2s ease-in-out all;
        z-index: 499;

        position: fixed;
        background: rgba(0, 0, 0, 0.9);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 80px;

        &.hidden {
            opacity: 0;
            pointer-events: none;
        }

        li {
            display: block;
            text-align: center;

            a {
                margin: 10px 20px;
                font-size: 20px;
            }
        }
    }
}

.center {
    text-align: center;
}

.subsection {
    background: #222;
    border-radius: $border-radius;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    position: relative;
}

.qrcode {
    div {
        margin-bottom: 5px;
    }

    pre {
        background: rgba(255, 255, 255, 0.1);
        padding: 10px;
        border-radius: $border-radius;
        display: inline-block;
        margin: 0;
        margin-bottom: 10px;
    }

    button {
        display: block;
        margin: 0 auto;
    }

    canvas {
        margin-bottom: 20px;
        box-sizing: content-box;
        border: 10px solid white;
        border-radius: $border-radius;
    }
}

.menu {
    padding: 0 20px;
    text-align: left;

    a {
        color: white;
    }
}

.network-tile {
    width: 75px;
    height: 75px;
    border-radius: $border-radius;
    color: black;
    transition: 0.1s ease-in-out box-shadow;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    input {
        display: block;
        width: 75px;
        height: 75px;
        background: transparent;
        opacity: 0.01;
        cursor: pointer;
        padding: 0;
        margin: 0;
        font-size: 0;
    }
}

.network {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 75px;
    grid-auto-rows: 75px;
    grid-gap: 10px;

    .network-tile {
        cursor: pointer;

        label {
            position: absolute;
        }

        svg {
            transition: 0.1s ease-in-out color;
            color: rgba(0, 0, 0, 0.25);
            font-size: 40px;
        }

        &.active, &:hover, &:focus-within {
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.7);

            svg {
                color: rgba(0, 0, 0, 1.0);
            }
        }
    }
}

.info-grid {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-gap: 25px;

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;

        .metadata {
            word-break: break-word;
        }

        .actions {
            display: flex;
            margin: 0 -10px;

            & > * {
                margin: 0 5px;
            }
        }

        .progress {
            text-align: center;
        }

        .buttons {
            & > * {
                display: inline-block;
            }
        }
    }
}

.target-tile {
    width: 25px;
    height: 25px;
    margin: 0 10px;

    svg {
        width: 15px;
        height: 15px;
    }
}

.transfer-icon {
    position: relative;
    font-size: 0;
    background: #111;
    padding: 10px 0;
    border-radius: $border-radius;

    .target-tile {
        position: absolute;
        top: -8.5px;
        left: -18.5px;
        z-index: 500;
    }

    & > svg {
        width: 75px;
        height: 55px;
    }
}

.left {
    text-align: left;

    p:first-child {
        margin-top: 0;
    }

    p:last-child, ol:last-child, ul:last-child {
        margin-bottom: 0;
    }
}

.bold {
    font-weight: bold;
}

.modal {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    padding: 30px 0;
    backdrop-filter: blur(5px);
    min-height: 100vh;
}

.warning {
    margin: 20px;
}

.__react_component_tooltip.type-dark.place-top.custom-tooltip {
    background: #111;
    opacity: 1;
    font-weight: bold;

    &:after {
        border-top-color: #111;
    }
}

@media screen and (min-width: 768px) {
    .desktop-2col {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 2fr 1fr;
    }

    .modal {
        padding: 30px;
    }

    header .toggle {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo {
            padding-bottom: 0;
        }

        ul, ul.hidden {
            display: block;
            opacity: 1;
            pointer-events: all;
            padding: 0 15px;
            transition: unset;

            position: relative;
            top: unset;
            left: unset;
            right: unset;
            bottom: unset;

            background: none;

            li {
                display: inline-block;
                text-align: center;

                a {
                    margin: 0 15px;
                    font-size: 16px;
                }
            }
        }
    }
}