$accent-color: #fc03a1;

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #111;
    color: white;
    border-top: 5px solid $accent-color;
}

html, body, #root {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: desaturate($accent-color, 15%);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.queue {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;

    li {
        & > * {
            margin: 5px 0;
        }

        button {
            margin: 5px;
        }
    }
}

input {
    background: rgba(90, 90, 90, 0.4);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

button, .button {
    display: inline-block;
    background: rgba(255, 255, 255, 0.75);
    border: none;
    color: black;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        background: white;
    }
}

section {
    position: relative;
    padding: 20px;
}

.text {
    max-width: 500px;
    margin: 20px auto;

    ul {
        text-align: left;
    }
}

.status {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    background: black;

    &.error {
        background: #991111;
    }
}

h2, h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    color: $accent-color;
}

h2 {
    font-size: 20px;
    color: desaturate($accent-color, 5%);
}

progress {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;

    &::-moz-progress-bar, &::-webkit-progress-bar {
        background-color: desaturate($accent-color, 50%);
        border-radius: 5px;
    }
}

h1, h2, h3 {
    margin: 0;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.center {
    text-align: center;
}

.subsection {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    padding: 15px 20px;
    margin: 10px 0;
    text-align: center;

    p {
        margin: 0;
    }
}

.qrcode {
    p {
        margin-bottom: 5px;
    }

    pre {
        background: rgba(255, 255, 255, 0.1);
        padding: 10px;
        border-radius: 5px;
        display: inline-block;
        margin: 0;
    }

    canvas {
        margin-bottom: 20px;
        box-sizing: content-box;
        border: 10px solid white;
        border-radius: 5px;
    }
}

.menu {
    padding: 20px;
    text-align: left;

    a {
        color: white;
    }
}

footer {
    padding: 20px;

    a {
        margin: 0 10px;
    }

    a:first-child {
        margin-left: 0;
    }
}

.dropzone {
    cursor: pointer;

    label {
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
    .desktop-2col {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
}