$accent-color: #ff6f06;
$dark-gradient: linear-gradient(135deg, #00000000 0%, #00000044 100%);

body {
  background: #111;
  color: white;
  line-height: 1.4;
  user-select: none;
}

body,
input,
button,
textarea,
a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  display: inline-block;
  color: white;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

.queue {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    animation: fadeIn 0.4s ease-in-out 0s 1;

    & > * {
      margin: 5px 0;
    }

    button,
    .button {
      margin: 5px;
    }
  }
}

input {
  background: rgba(90, 90, 90, 0.4);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

button,
.button {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.75);
  transition: 0.1s ease-in-out all;
  border: none;
  color: black;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  text-shadow: none;
  border-radius: 5px;

  &:hover {
    text-decoration: none;
    background-color: white;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
  }
}

section {
  position: relative;
  margin: 20px;
}

.desktop-2col {
  & > div > :first-child {
    margin-top: 0;
  }
}

.text {
  max-width: 500px;
  margin: 20px auto;

  ul {
    text-align: left;
  }
}

.status {
  position: absolute;
  z-index: 9999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  backdrop-filter: blur(5px);

  & > div {
    padding: 20px;
    text-align: center;
    background: black;
  }

  &.error > div {
    background: darken($accent-color, 20%);
  }
}

h1,
h2,
h3,
.bar,
.subsection {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.75);
}

h2,
h3 {
  padding: 0 10px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    padding: 5px 20px;
  }
}

h2 {
  font-size: 20px;
  color: white;
}

progress {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow: hidden;
  height: 6px;
  display: block;
  margin-top: 4px;

  &::-moz-progress-bar {
    background-color: desaturate($accent-color, 50%);
  }

  &::-webkit-progress-value {
    background-color: desaturate($accent-color, 50%);
  }

  &::-webkit-progress-bar {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
  }
}

h1,
h2,
h3 {
  margin: 0;
}

header,
footer {
  background: #222;
}

header {
  position: sticky;
  top: 0;
  z-index: 99999;
  padding: 15px 0;
  border-bottom: 1px solid #111;
}

footer {
  border-top: 1px solid #111;

  ul {
    list-style: none;
    padding: 20px;
    margin: 0;

    li:first-child {
      padding-left: 0;
    }

    li:last-child {
      border-right: none;
    }
  }
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  h1 {
    line-height: 1.5;
  }

  .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    position: relative;
    z-index: 500;

    svg {
      fill: $accent-color;
      height: 24px;
      width: auto;
      margin-right: 6px;
    }
  }
}

.transfer-info {
  flex: 1;

  & > div {
    width: 100%;
  }

  progress {
    width: 100%;
  }
}

.center {
  text-align: center;
}

.subsection {
  background: #1e1e1e;
  padding: 20px;
  margin: 20px 0;
  position: relative;
  border-radius: 5px;

  a {
    font-weight: bold;
  }

  h2 {
    padding: 0 20px;
    margin: 0 -20px;
    margin-bottom: 10px;
  }
}

.connect {
  .info {
    grid-column: 1 / 3;
    margin-bottom: 20px;
    display: block;
  }

  div {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .copy {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & > * {
      margin-right: 10px;
    }
  }

  pre {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin: 0;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    user-select: text;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex: 1;

    &:not(:last-child) {
      margin-right: 10px;
    }

    svg {
      margin-right: 5px;
    }
  }

  .qrcode {
    margin-bottom: 20px;
    box-sizing: content-box;
    border: 10px solid white;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
}

.menu {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;

  .icon-menu {
    font-size: 0;

    a {
      margin-left: 10px;

      svg {
        height: 1.4rem;
        width: auto;
      }
    }
  }
}

.network-tile {
  width: 75px;
  height: 75px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  transition: 0.1s ease-in-out box-shadow;
  background-image: $dark-gradient;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  text-shadow: none;

  input {
    display: block;
    width: 75px;
    height: 75px;
    background: transparent;
    opacity: 0.01;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 0;
  }

  .secure,
  .local,
  .device {
    position: absolute;
    font-size: 0;

    svg {
      fill: rgba(0, 0, 0, 0.1);
      height: 20px;
      width: 20px;
    }
  }

  .secure {
    top: 5px;
    left: 5px;
  }

  .local {
    top: 5px;
    right: 5px;
  }

  .device {
    bottom: 5px;
    left: 5px;
  }
}

.scroll-x {
  overflow-x: auto;
  text-align: left;
}

.network {
  display: inline-flex;

  .network-tile-wrapper {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .network-tile-name {
    pointer-events: none;
    text-align: center;
    width: 75px;
    font-size: 0.8rem;
    margin-top: 10px;
    color: white;
    word-break: break-word;
  }

  .network-tile {
    cursor: pointer;

    label {
      cursor: pointer;
      position: absolute;
      opacity: 0.01;
    }

    svg {
      transition: 0.1s ease-in-out color;
      color: rgba(0, 0, 0, 0.25);
      font-size: 40px;
    }

    &.active,
    &:hover,
    &:focus-within {
      box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);

      svg {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.info-grid {
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-gap: 25px;

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;

    .filename {
      word-break: break-word;
      font-weight: bold;
    }

    .metadata {
      font-size: 0.8rem;

      span {
        margin-right: 10px;
      }
    }

    .progress {
      text-align: center;
    }
  }
}

.target-tile {
  width: 25px;
  height: 25px;
  margin: 0 10px;

  svg {
    width: 15px;
    height: 15px;
  }
}

.network-select {
  margin-top: 10px;
}

.transfer-icon {
  position: relative;
  font-size: 0;
  background-color: #111;
  padding: 10px 0;
  border-radius: 5px;

  .tooltip-wrapper {
    position: absolute;
    top: -8.5px;
    left: -18.5px;
    z-index: 500;
  }

  .target-tile {
    border-radius: 10px;
  }

  & > svg {
    width: 75px;
    height: 55px;
  }

  & > img {
    width: 75px;
    height: 75px;
    margin: -10px 0;
    border-radius: 5px;
  }
}

.left {
  p:last-child,
  ol:last-child,
  ul:last-child {
    margin-bottom: 0;
  }
}

.bold {
  font-weight: bold;
}

.modal {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  padding: 30px 0;
  backdrop-filter: blur(5px);
  min-height: 100vh;

  h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.warning {
  margin: 20px;
}

.notice {
  a {
    display: inline;
    white-space: unset;
  }
}

.client-name {
  display: flex;
  align-items: center;

  .icon-button {
    margin-left: 0.5em;
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -5px;

  & > * {
    margin: 0 5px;
  }
}

.client-name-modal {
  .subsection {
    width: auto;
  }

  input {
    margin-bottom: 1rem;
  }
}

.icon-button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  background: none;
  padding: 0;
  color: #aaa;
  font-size: 1em;

  &:hover {
    opacity: 0.8;
    background: none;
  }

  &.transfer-positive,
  &.transfer-negative,
  &.transfer-neutral {
    box-shadow: none !important;
    margin-left: 20px;

    svg {
      height: 1.6rem;
      width: 1.4rem;
    }
  }

  &.transfer-positive {
    color: green;
  }

  &.transfer-negative {
    color: #ff3737;
  }
}

.tooltip-wrapper {
  position: relative;

  &:hover {
    .tooltip {
      opacity: 1;
    }
  }

  .tooltip {
    position: absolute;
    top: -10px;
    left: 50%;
    opacity: 0;
    pointer-events: none;
    transition: 0.1s ease-in-out all;
    transform: translate(-50%, -100%);
    background: #111;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.8rem;
    width: max-content;
    max-width: 300px;
  }
}

.chat {
  .chat-empty {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;

    & > * {
      opacity: 0.7;
    }

    svg {
      height: 100px;
      width: 100px;
      margin-bottom: 20px;
    }
  }

  .react-nano-scrollbar-content {
    width: 100%;
    height: 300px;
    max-height: 300px;
  }

  .chat-items {
    border-radius: 5px;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: safe flex-end;

    li {
      display: block;
      text-align: left;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 10px;
      margin-bottom: 10px;
      margin-top: 0;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .target-tile {
      margin-left: 0;
    }
  }

  &-info {
    display: flex;
    align-items: center;
    color: #aaa;
    margin-bottom: 5px;

    & > * {
      margin-right: 10px;
    }
  }

  &-message {
    position: relative;
    white-space: pre-wrap;
    max-height: 50px;
    overflow: hidden;
    user-select: text;

    &-more {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      color: white;

      &:hover {
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.4) 0%,
          rgba(0, 0, 0, 0) 100%
        );
      }
    }
  }

  &-expanded .chat-message {
    max-height: unset;
  }

  form {
    display: flex;
    align-items: center;
    background: rgba(90, 90, 90, 0.4);
    border-radius: 5px;

    button {
      margin-right: 15px;
    }

    textarea {
      resize: none;
      flex: 1;
      margin-right: 10px;
      min-height: 40px;
      background: none;
      padding: 10px 15px;
      color: white;
      border: none;
      font-size: 0.8rem;

      &:focus {
        outline: none;
      }
    }
  }

  span {
    display: block;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .desktop-2col {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: minmax(0, 2fr) 1fr;
  }

  .modal {
    padding: 30px;
  }

  .metadata {
    div {
      display: inline-block;
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    ul {
      li {
        display: inline-block;
        padding: 0 10px;
        border-right: 1px solid white;
      }
    }
  }

  .actions {
    justify-content: flex-start;
  }

  .chat {
    margin-bottom: 65px;
  }
}

/* Animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
