.grid {
  display: flex;

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    flex: 1;
    margin-left: 15px;
  }
}
