.queue {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    animation: fadeIn 0.4s ease-in-out 0s 1;

    &:not(:last-child) {
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #35353b;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  .title {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
    padding: 5px 0;
    font-size: 16px;
    font-weight: bold;
  }
}
