.transfer {
  display: flex;

  .info {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 15px;

    progress {
      width: 100%;
    }

    .state {
      flex: 1;
    }

    .filename {
      word-break: break-word;
      font-weight: bold;
      display: flex;
      align-items: center;
    }

    .metadata {
      display: flex;
      justify-content: space-between;
      font-size: 0.8rem;

      span:not(:last-child) {
        margin-right: 10px;
      }
    }

    .progress {
      text-align: center;
    }
  }

  .actions {
    font-size: 0;

    button,
    a {
      margin-left: 1rem;

      svg {
        height: 1.6rem;
        width: 1.4rem;
      }

      &.positive {
        color: green;
      }

      &.negative {
        color: #ff3737;
      }
    }

    a {
      svg {
        width: 1.2rem;
      }
    }
  }

  &:not(:last-child) {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #333;
  }
}
