.button {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;

  &:hover {
    background-color: white;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
  }
}
