.button {
  display: inline-block;
  background-color: var(--color-primary);
  color: var(--color-fg);
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;

  &:hover {
    background-color: var(--color-primary-soft);
  }
}
