.feedback {
  pointer-events: none;
  transition: 0.1s ease-in-out all;
  background: var(--color-bg);
  color: var(--color-fg);
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  top: -0.5rem;
  left: 50%;
  font-weight: normal;
  font-size: 0.8rem;
  transform: translate(-50%, -100%);
  opacity: 0;
  width: 9rem;

  &.visible {
    opacity: 1;
  }
}
