.footer {
  margin-block-start: 15px;
  padding-block-end: 15px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      display: inline-block;
      margin-inline-start: 10px;
      margin-inline-end: 10px;
      font-size: 0.8rem;

      &:last-child {
        border-inline-end: none;
      }

      a {
        color: var(--color-fg-soft);
      }
    }
  }
}
