.footer {
  margin-top: 15px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      display: inline-block;
      margin-right: 20px;
      font-size: 0.8rem;

      &:last-child {
        border-right: none;
      }

      a {
        color: #999999;
      }
    }
  }
}
