.header {
  position: sticky;
  top: 0;
  z-index: 9999;
  padding-block-start: 15px;
  background: linear-gradient(
    to bottom,
    var(--color-bg) 0%,
    var(--color-bg-transparent) 100%
  );

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: -1;

    backdrop-filter: blur(20px);
    mask: linear-gradient(to bottom, #000000ff 0%, #00000000 100%);
    mask-composite: xor;
    -webkit-mask: linear-gradient(to bottom, #000000ff 0%, #00000000 100%);
    -webkit-mask-composite: xor;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  h1 {
    line-height: 1.5;
  }

  .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    position: relative;
    z-index: 500;

    svg {
      fill: var(--color-accent);
      height: 24px;
      width: auto;
      margin-inline-end: 6px;
    }
  }

  .right {
    font-size: 0;

    a {
      margin-inline-start: 10px;

      svg {
        height: 1.4rem;
        width: auto;
      }
    }
  }
}
