.overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  padding: 30px;
  backdrop-filter: blur(5px);
  min-height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal {
  min-width: 0;
  width: 100%;
  max-width: 700px;
  margin-block-start: 100px;
}

.title {
  background: var(--color-bg-soft);
  padding: 15px;
  position: relative;
  border-radius: 5px;
  margin-block-end: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    svg {
      font-size: 2rem;
    }
  }
}
