.network {
  display: inline-flex;
  overflow-x: auto;
  max-width: 100%;
}

.wrapper {
  padding-block-start: 15px;
  margin-block-start: 15px;
  border-block-start: 1px solid var(--color-primary);
}

.empty {
  color: var(--color-fg-soft);

  button {
    margin-block-start: 10px;
  }
}
