.network {
  display: inline-flex;
}

.wrapper {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid var(--color-primary);
}

.empty {
  text-align: center;

  button {
    margin-top: 10px;
  }
}
