.count {
  position: absolute;
  inset-block-start: -7.5px;
  inset-inline-end: -7.5px;
  background: red;
  border-radius: 100%;
  font-size: 10px;
  width: 15px;
  height: 15px;
  color: var(--color-fg);

  display: flex;
  justify-content: center;
  align-items: center;
}
