.status {
  position: absolute;
  z-index: 9999999;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  backdrop-filter: blur(5px);

  & > div {
    padding: 20px;
    text-align: center;
    background: black;
  }

  &.error > div {
    background: var(--color-accent);
  }
}
