.text {
  background: var(--color-bg-soft);
  padding: 15px;
  margin: 15px;
  margin-block-end: 0;
  position: relative;
  border-radius: 5px;
  overflow: auto;

  a {
    font-weight: bold;
  }

  h2 {
    padding: 0;
    margin-block-end: 15px;
  }

  p:last-child,
  ol:last-child,
  ul:last-child {
    margin-block-end: 0;
  }
}
