$toggle-indicator-size: 16px; // changing this number will resize the whole toggle
$track-height: $toggle-indicator-size + 6;
$track-width: $toggle-indicator-size * 2.5;
$highContrastModeSupport: solid 2px transparent;

$indicator: var(--color-fg);
$track-background: var(--color-primary-soft);
$track-background-checked: var(--green);

$speed: 0.2s;

// Toggle specific styles
.toggle {
  align-items: center;
  border-radius: 100px;
  display: flex;
  margin-block-end: 8px;

  &:last-of-type {
    margin: 0;
  }
}

// Since we can't style the checkbox directly, we "hide" it so we can draw the toggle.
.input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:disabled + .track {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.track {
  background: $track-background;
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  height: $track-height;
  margin-inline-end: 12px;
  position: relative;
  width: $track-width;
  min-width: $track-width;
  transition: background $speed ease-in-out;
}

.indicator {
  align-items: center;
  background: $indicator;
  border-radius: $toggle-indicator-size;
  bottom: 2px;
  display: flex;
  height: $toggle-indicator-size;
  justify-content: center;
  left: 2px;
  outline: $highContrastModeSupport;
  position: absolute;
  transition: $speed;
  width: $toggle-indicator-size;
}

.checkmark {
  fill: var(--color-bg);
  height: $toggle-indicator-size - 4;
  width: $toggle-indicator-size - 4;
  opacity: 0;
  transition: opacity $speed ease-in-out;
}

.input:checked + .track {
  background: $track-background-checked;

  .indicator {
    background: $indicator;
    transform: translateX($track-width - $track-height);

    .checkmark {
      opacity: 1;
      font-size: 0;
      transition: opacity $speed ease-in-out;
    }
  }
}

.label {
  font-size: 0.9rem;
  color: var(--color-fg-soft);
}

[dir='rtl'] {
  .indicator {
    transform: translateX($track-width - $track-height);
  }

  .input:checked + .track {
    .indicator {
      transform: translateX(0);
    }
  }
}
